

<div class="new-post">
	<form action="/post" method="post">
		<input class="postbox" type="text" name="content">
		<input type="submit" value="submit">
	</form>
</div>


<ul>
	<% @posts.each do |post| %>
		<li>
			<%= post.content %>
		</li>
	<% end %>
</ul>