body {
	font-family: "HelveticaNeue-Light", Helvetica, Arial, Sans-serif;
	background-color: white;
}

header {
	width: 80%;
	height: 60px;
	margin: 0 auto;
	background-color: white;
	border-bottom: 1px solid  #CCCCCC;
	color: black;
	display: flex;
	padding: 10px 30px;
	text-decoration: none;
	margin-bottom: 40px;
}

header > * {
	margin: auto 0;
}

header #logo {
	margin-right: 50px;
	display: flex;
	font-size: 40px;
	font-family: "HelveticaNeue-Light";
	color: #009999;
	text-decoration: none;
}

header #user-links {
	flex: 1;
	-webkit-flex: 1;
	text-align: right;
}

a.button {
	display: inline-block;
	width: 80px;
	height: 25px;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	color: black;
	text-decoration: none;
	padding: 0px 10px;
	text-align: center;
	border-radius: 2px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 6px;
}

header input[type=submit] {
	display: inline-block;
	width: 90px;
	height: 25px;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	color: black;
	text-decoration: none;
	padding: 0px 10px;
	text-align: center;
	border-radius: 2px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: "HelveticaNeue-Light";
	font-size: 0.8em;
}

.postbox {
	width: 700px;
	height: 80px;
	border: 1px solid  #CCCCCC;
	padding: 5px;
	margin-bottom: 20px;
}

.new-post input[type=submit] {
	display: inline-block;
	width: 100px;
	height: 40px;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color:  #009999;
	color: black;
	text-decoration: none;
	padding: 0px 10px;
	border-radius: 5px;
	margin-left: 18px;
	margin-right: 5px;
	font-family: "HelveticaNeue-Light";
	font-size: 1em;
}

.new-post {
	text-align: center;
}

.sign-in-form {
	text-align: center;
}

#welcome-googbye {
	color: black;
	margin-left: 200px;
	margin-top: 25px;
}

#ind-post {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-top: 15px;
	padding: 15px 0px 0px 60px;
	border-top: 1px solid #CCCCCC;
}

#form {
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	border: 1px solid #CCCCCC;
	padding: 30px;
	text-align: center;
	border-radius: 10px;
}

#form input[type=submit] {
	display: inline-block;
	width: 90px;
	height: 30px;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color:  #009999;
	color: black;
	text-decoration: none;
	padding: 0px 10px;
	border-radius: 5px;
	font-family: "HelveticaNeue-Light";
	font-size: 0.9em;
}





