<div class="sign-in-form">
	<form action="/sessions" method="post">
		Username: <input type="text" name="username"><br><br>
		Password: <input type="password" name="password"><br><br>
		<input type="submit" value="Sign in">
	</form>
</div>
