<div id="form">
	<form method="post" action="/sessions">
		Username: <input type="text" name="username"><br><br>
		Password: <input type="password" name="password"><br><br>
		<input type="submit" value="Sign in">
	</form>
</div>
