<div id="form-container" class="register">

	<div id="form">
		<h1>Please fill out this form to register:</h1><br><br>

		<form action="/users" method="post">
			Email:<br> <input name="email" type="text" value="<%= @user.email %>"><br>
		  Username:<br> <input name="username" type="text"><br>
		  Password:<br> <input name="password" type="password"><br>
		  Password confirmation:<br> <input name="password_confirmation" type="password"><br><br>
		  <input type="submit" value="Sign up" class="signup-button">
		</form>
	</div>

</div>
